/* Navigation Section */

.top-navigation {
	background-color: #fff;
}

.top-navigation > .content {

	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
	
}

.logo {
	height: 4em;
}

.top-navigation > .content > .links {

	float: right;
}

.top-navigation > .content > .links > li {

	display: inline-block;
}



body {

	background-color: grey;
}