/* Navigation Section */

.top-navigation {
	background-color: #fff;
}

.top-navigation < .content {

	width: 970px;
	height: 70px;
	margin: 0 auto;
	
}

.logo {
	height: 4em;
	margin-left: 20%;
}



body {

	background-color: grey;
}