html {
	-webkit-font-smoothing: antialiased;
  	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Navigation Section */

.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.content {

	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
	
}

.logo {
	height: 70px;
}

.top-navigation > .content > .links {

	float: right;
}

.top-navigation > .content > .links > li {

	display: inline-block;
	box-sizing: border-box;
	padding-top: 12px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-left: 1em;
	transition: color 0.5s ease;

}

.top-navigation > .content > .links > li:hover {
	color: #838994;
	font-weight: 500;
	cursor: pointer;

}

.top-navigation > .content > .links > .active {

	color: #838994;
	font-weight: 500;

}


/* Middle Image Section */

.introduction {
	
	padding-top: 65px;
	background-image: url(img/bkg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 675px;
	overflow: auto;
	background-position: 0 100%;
	

}

.introduction > .content > h1 {

	margin-top: 4em;
	font-size: 3em;

}

.introduction > .content > h1, h2 {

	color: white;
	text-align: center;
	font-weight: lighter;

}

.introduction > .content button {
	 
	display: block;
	margin: 50px auto;
	width: 160px;
	height: 65px;
	background-color: #f15a29;
	border-color: #f15a29;
	border-radius: 4px;
	color: white;
	transition: color 0.2s ease;

}

.introduction > .content button:hover {

	cursor: pointer;
	background-color: #d9400e;
	border-color: #d9400e;
	color: #EBEBEB;


}


body {

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: white;

}

/* Icon Section */


.icons {

	height: 570px;
	background: white;
}

.icons > h1 {

	padding-top: 100px;
	font-size: 3em;
	text-align: center;
	font-weight: lighter;
	box-sizing: border-box;

}

.icons > .container {

	width: 900px;
	display: flex; 
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;


}

.icons > .container > .icon_1 {

	width: 150px;
	height: 200px;
	background-image: url(../img/icon-devices.svg);
	background-repeat: no-repeat;
	overflow: auto;
	
}

.icons > .container > .icon_2 {

	width: 150px;
	height: 200px;
	background-image: url(../img/icon-coffee.svg);
	background-repeat: no-repeat;
	overflow: auto;
	
}

.icons > .container > .icon_3 {

	width: 150px;
	height: 200px;
	background-image: url(../img/icon-refill.svg);
	background-repeat: no-repeat;
	overflow: auto;
	
}


.icons > .container2 {

	width: 900px;
	display: flex; 
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	

}

.icons > .container2 > .text_1 > h2 {
	
	color: black;
	margin-left: -70px;
}

.icons > .container2 > .text_2 > h2 {

	color: black;
	margin-left: -150px;
}

.icons > .container2 > .text_3 > h2 {

	color: black;
	margin-left: -130px;
}


/* footer section */


hr {
	width: 600px;
	display: block;
	margin: 0 auto;
	border-color: rgba(210, 210, 210, .20);
}


.join {
	
	padding: 10px 10px;
	text-align: center;
	
}

.social > .content3 {

	width: 300px;
	margin: 0 auto;
}

.social > .content3 > .socialicons > li {

	display: inline-block; 
	padding: 10px 10px;
	border: 2px solid;
	border-color: rgba(210, 210, 210, .20);
	color: grey;
	width: auto;
	height: auto;
	border-radius: 100%;
	transition: background-color 0.5s ease; 
	transition: color 0.8s ease;
}


.social > .content3 > .socialicons {

	display: flex;
	justify-content: space-around;
	margin-left: -40px;



}

.social > .content3 > .socialicons > li:hover {

	background-color: lightgrey ;
	color: white;
	cursor: pointer;

}

.copywrite {

	text-align: center;
	padding: 10px 0;
	margin-bottom: 50px;
}










